/* --------------header----------------- */
.header {
    height: var(--header-height);
    background-image: linear-gradient(180deg, #f53e2d, #ff6533) 
}

/* ---------------navbar--------------- */
.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    align-items: center;
    position: relative;
}
.header__navbar-user-avatar {
    width: 20px;
    border-radius: 50%;
}

.header__navbar-user-name {
    display: inline-block;
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user--dropdown{
    position: absolute;
    right: 0;
    top: 32px;
    display: none;
}

.header__navbar-user--dropdown::before {
    right: 24px;
}

.header__navbar-user:hover .header__navbar-user--dropdown {
    display: block;
}

.header__navbar-user-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__navbar-user-item {
    margin: 8px 0;
    padding-left: 12px;
    height: 20px;
}
.header__navbar-user-item:hover {
    cursor: pointer;
    background-color: #ddd;
}
.header__navbar-user-content {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    height: 100%;
}


.header__navbar-item,
.header__navbar-item-link {
    display: flex;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    align-items: center;
}


.header__navbar-item:first-child {
    margin-left: 0;
}
.header__navbar-item:last-child {
    margin-right: 0;
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #f86b5c;
    height: 14px;
    right: -10px;
    top: 0;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item--hover:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}